ul.navigation {
    list-style-type: none;
    padding: 0px;
    border: 1px solid silver;
}

ul.navigation > li {
    padding: 10px;
}

ul.navigation > li:hover {
    background-color: forestgreen;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    ul.navigation > li {
        display: table-cell;
    }
  }